.subscribe {
  background-image: url(img/Layer_subscribe.png);
  background-size: cover;
  padding: 97px 0 126px;
}

.subscribe__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 780px) {
  .subscribe__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe__items__info {
  text-align: center;
  width: 360px;
  margin-right: 224px;
}

@media screen and (max-width: 780px) {
  .subscribe__items__info {
    margin-right: 0;
  }
}

@media screen and (max-width: 380px) {
  .subscribe__items__info {
    width: 343px;
  }
}

.subscribe__items__info__foto {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin: 0 auto 30px;
}

.subscribe__items__info__foto__img {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.subscribe__items__info__p {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #222224;
}

@media screen and (max-width: 780px) {
  .subscribe__items__info__p {
    margin-bottom: 78px;
  }
}

@media screen and (max-width: 380px) {
  .subscribe__items__info__p {
    font-size: 19px;
  }
}

.subscribe__items__info__p__span {
  font-style: italic;
}

.subscribe__items__frame {
  width: 555px;
  text-align: center;
}

@media screen and (max-width: 380px) {
  .subscribe__items__frame {
    width: 343px;
  }
}

.subscribe__items__frame__h3 {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #222224;
  margin-bottom: 10px;
}

.subscribe__items__frame__h4 {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #222224;
  margin-bottom: 32px;
}

@media screen and (max-width: 380px) {
  .subscribe__items__frame__h4 {
    font-size: 14px;
  }
}

.subscribe__items__frame__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #E1E1E1;
  border-radius: 20px;
  margin: 0 97px 0 104px;
  height: 49px;
}

@media screen and (max-width: 380px) {
  .subscribe__items__frame__input {
    margin: 0;
  }
}

.subscribe__items__frame__input__mail {
  border-radius: 20px 0 0 20px;
  border: 0 solid;
  background-color: #E1E1E1;
  padding-left: 22px;
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
}

.subscribe__items__frame__input__mail::-webkit-input-placeholder {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #222224;
  opacity: 0.67;
}

.subscribe__items__frame__input__mail:-ms-input-placeholder {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #222224;
  opacity: 0.67;
}

.subscribe__items__frame__input__mail::-ms-input-placeholder {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #222224;
  opacity: 0.67;
}

.subscribe__items__frame__input__mail::placeholder {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #222224;
  opacity: 0.67;
}

.subscribe__items__frame__input__button {
  background: #F16D7F;
  padding: 7px 7px 7px 8px;
  border-radius: 0 20px 20px 0;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  border: 0 solid;
}
/*# sourceMappingURL=subscribe.css.map */