
$widthConteiner : 1140px;
$widthConteiner_780 : 740px;
$widthConteiner_380 : 343px;

$heigth_tems__full : 180px;
$heigth_tems__780 : 116px;
$heigth_tems__380 : 111px;
$heigth_items__line :260px;
$heigth_items__col :247px;
$width_items__col :343px;

$font-family_Lato: Lato, Arial, Helvetica, sans-serif;
@mixin align_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin font_offer__items__h4(){
    font-family: $font-family_Lato;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
}
@mixin font_offer__items__h3(){
    font-family: $font-family_Lato;
    font-size: 24px;
    color: #F16D7F;
}

@mixin grid_columns(){
    grid-template-columns: repeat(3, $widthConteiner/3-20);
    gap: 30px;
    @media screen and (max-width: 780px){
        grid-template-columns: repeat(2, $widthConteiner/3-20);
        gap: 15px;
    }
    @media screen and (max-width: 380px){
        grid-template-columns: repeat(1, $widthConteiner/3-20);
        gap: 15px;
    }
}

body{
    font-family: $font-family_Lato;
}
.conteiner{
    max-width: $widthConteiner;
    margin: 0 auto;
    @media screen and (max-width: 780px){
        max-width: $widthConteiner_780;
    }
    @media screen and (max-width: 380px){
        max-width: $widthConteiner_380;
    }
}
.header{
    background-color:  #222222;
    padding: 20px 0 20px 0;
    @media screen and (max-width: 780px){
        padding: 20px 32px;
    }
    @media screen and (max-width: 380px){
        padding: 18px 0;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        &__logo{
            &__svg{ 
                &:not(:last-of-type){
                    margin-right: 41px;
                }           
            }
        }
        &__buttons{
            position: relative;
            padding-right: 10px;
            @media screen and (max-width: 380px){
                padding-right: 0;
            }
            &__svg{ 
                vertical-align: middle;
                padding-top: 5px;
                &:not(:last-of-type){
                    margin-right: 33px;
                } 
                @media screen and (max-width: 380px){
                    &:not(:first-child){
                        display: none;                      
                    }
                    &:not(:last-of-type){
                        margin-right: 0;
                    } 
                }          
            }
            &__elipce{
                @include align_center;
                position: absolute;
                top: -5%;
                right: 0%;
                height: 19px;
                width: 19px;
                border-radius: 50%;
                background: #F16D7F;
                @media screen and (max-width: 380px){
                    display: none;
                }
                &__elipce__p{
                    font-family: $font-family_Lato;
                    font-size: 12px;
                    color: #FFFFFF;
                }
            }
        }
    }
}
.preview{
    background-color:  #F1E4E6;
    display: flex;
    &__item{
        display: flex;
        &__img{
            margin-left: -230px;
            @media screen and (max-width: 780px){
                height: 368px;
                width: 368px;
                margin-left: 0;
            } 
            @media screen and (max-width: 380px){
                display:none;
            }   
        }
        &__figcaption{
            padding: 290px 0 0 60px;
            @media screen and (max-width: 780px){
                padding: 138px 0 0 40px;
            }
            @media screen and (max-width: 380px){
                padding: 148px 40px;
            }  
            &__h2{
                font-family: Lato;
                font-style: normal;
               
                color: #222222;
                @media screen and (max-width: 780px){
                    font-size: 44px;
                }
                @media screen and (max-width: 380px){
                    font-size: 38px;
                } 
                &::before{
                    border-left: 12px solid #F16D7F;
                    content: "";
                    margin-right: 16px;
                }
            }
            &__h4{
                color: #222222;
                font-size: 32px;
                font-size: 37px;
                @media screen and (max-width: 780px){
                    font-size: 24px;
                }
                @media screen and (max-width: 380px){
                    font-size: 20px;
                }
                &__span{
                    color: #F16D7F;
                }
                &::before{
                    border-left: 12px solid #F16D7F;
                    content: "";
                    margin-right: 16px;
                }
            }
        }
    }
    &:hover .preview__sidebar{
        z-index: 0;
    }
    &__sidebar{
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 37px 53px 0 24px;
        z-index: -1;
        @media screen and (max-width: 780px){
            display: none;
        }
        &__menu{
            &__h4{
                font-family: $font-family_Lato;
                font-weight: bold;
                font-size: 14px;
                color: #000000;
                margin-bottom: 24px;
            }
            &__person{
                display: flex;
                flex-direction: column; 
                &__h4{
                    font-family: $font-family_Lato;
                    font-size: 14px;
                    color: #F16D7F;
                    margin-bottom: 12px;
                    text-decoration: none;
                }
                &__ref{
                    padding-left: 20px;
                    text-decoration: none;
                    font-family: $font-family_Lato;
                    font-size: 14px;
                    color: #6F6E6E;
                    &:not(:last-of-type){
                        margin-bottom: 11px;
                    }
                }
                &:not(:last-of-type){
                    margin-bottom: 20px;
                }
            }
        }
    }
    
}
.offer{
    padding: 65px 0 96px 0;
    @media screen and (max-width: 780px){
        padding: 20px 0 155px 0;
    } 
    @media screen and (max-width: 380px){
        padding: 64px 16px;
    }
    &__items{
        &__line{
            display: flex;
            height: $heigth_items__line;
            margin-bottom: 30px;
            justify-content: space-between;
            @media screen and (max-width: 380px){
                flex-direction: column;
                height: auto;
            } 
            @media screen and (max-width: 380px){
                margin-bottom: 0;
            } 
            &__item{
                width: $widthConteiner/3-20;
                @media screen and (max-width: 780px){
                    width: $widthConteiner_780/3-20;
                }  
                @media screen and (max-width: 380px){
                    width: $width_items__col;
                    height: $heigth_items__line;
                    margin-bottom: 32px;
                } 
                @include align_center;
                &__first{
                    background-image: url(img/1-for-woman.png);
                }
                &__second{
                    background-image: url(img/2-for-man.png);
                }
                &__third{
                    background-image: url(img/3-for-kids.png);
                }
                &__wrapper{
                    text-align: center;
                    &__h4 {
                    @include font_offer__items__h4;}
                    &__h3{
                        @include font_offer__items__h3;
                    }
                }

            }
        }
        &__full{
            background-image: url(img/4-ACCESORIES.png);
            height: $heigth_tems__full;
            @include align_center;
            @media screen and (max-width: 780px){
                height: $heigth_tems__780;
            }
            @media screen and (max-width: 380px){
                height: $heigth_tems__380;
            }
            &__wrapper{
                text-align: center;
                &__h4 {
                    @include font_offer__items__h4;
                }
                &__h3{
                    @include font_offer__items__h3;
                }
            }

        }
    }

}
.products{
    text-align: center;
    @media screen and (max-width: 380px){
        max-width: $widthConteiner/3-20;
    }
    &__h4{
        font-family: $font-family_Lato;
        font-size: 30px;
        color: #222222;
        margin-bottom: 6px;
    }
    &__p{
        font-family: $font-family_Lato;
        font-size: 14px;
        color: #9F9F9F;
        margin-bottom: 48px;
    }
    &__items{
        display: grid;
        @include grid_columns;    
        margin-bottom: 48px;
        @media screen and (max-width: 780px){
            margin-bottom: 32px;
        }
        &__item{
            background: #F8F8F8;
            &__imgwrapper{
                position: relative;
                margin-bottom: 25px;
                &__img{}
                &__action{
                    display: none;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    // background-color: rgba(0, 0, 0, 0.6);
                    background: rgba(58, 56, 56, 0.86);
                    &__button{
                        padding: 14px 16px 13px 13px;
                        background-color: transparent;
                        border: 1px solid #fff;
                        color: white;
                        cursor: pointer;
                        font-family: $font-family_Lato;
                        font-size: 14px;
                        color: #FFFFFF;
                        @include align_center;
                        &__svg{
                            margin-right: 11px;
                        }
                    }
                }
            }  
            &__text{
                padding-left: 17px;
                text-align: left;
                &__h4{
                    font-family: $font-family_Lato;
                    font-size: 13px;
                    color: #000000;
                    margin-bottom: 13px;
                }
                &__p{
                    font-family: $font-family_Lato;
                    font-size: 14px;
                    color: #5D5D5D;
                    margin-bottom: 18px;
                    font-weight: 300;
                    line-height: 17px;
                }
                &__price{
                    font-family: $font-family_Lato;
                    font-size: 16px;
                    color: #F16D7F;
                    margin-bottom: 20px;
                }
            }
            &:hover .products__items__item__imgwrapper__action{
                display: flex;
            }
        }
    }
    &__button{
        font-family: $font-family_Lato;
        font-size: 16px;
        color: #F26376;
        padding: 15px 40px;
        border: 1px solid #F26376;
        background: transparent;
        margin-bottom: 95px;
        &:hover{
            background: #F16D7F;
            color: #FFFFFF;            
        }
        @media screen and (max-width: 780px){
            margin-bottom: 65px;
            &:hover{
                background: transparent;
                color: #F26376;         
            }
        }
    }
}
.feature{
    background-color: #222224;
    padding: 103px 0 104px;
    @media screen and (max-width: 780px){
        padding: 48px 0 16px;
    }
    &__items{
        display: flex;
        @media screen and (max-width: 780px){
            flex-direction: column;
            align-items: center
        }
        &__item{
            width: $widthConteiner/3-20;
            text-align: center;
            &__f{
                margin-bottom: 28px;
            }
            &__s{
                margin-bottom: 19px;
            }
            &__t{
                margin-bottom: 25px;
            }
            &__h4{
                font-family: $font-family_Lato;
                font-size: 20px;
                color: #FBFBFB;
                margin-bottom: 16px;
            }
            &__p{
                font-family: $font-family_Lato;
                font-size: 14px;
                color: #FBFBFB;
                padding: 0 27px;
                font-weight: 300;
                line-height: 17px;
                @media screen and (max-width: 780px){
                    margin-bottom: 48px;
                }
            }
        }
    }
}
.subscribe{
    background-image: url(img/Layer_subscribe.png);
    background-size: cover;
    padding: 97px 0 126px;
    &__items{
        display: flex;
        align-items: center;
        @media screen and (max-width: 780px){
            flex-direction: column;
        }
        &__info{
            text-align: center;
            width: 360px;
            margin-right: 224px;
            @media screen and (max-width: 780px){
                margin-right: 0;
            }
            @media screen and (max-width: 380px){
                width: $widthConteiner_380;
            }
            &__foto{
                width: 96px;
                height: 96px;
                border-radius: 50%;
                margin: 0 auto 30px;
                &__img{
                    height: 100%;
                    width: auto;
                    border-radius: 50%;
                }
            }
            &__p{
                font-family: $font-family_Lato;
                font-size: 20px;
                color: #222224;
                @media screen and (max-width: 780px){
                    margin-bottom: 78px;
                }
                @media screen and (max-width: 380px){
                    font-size: 19px;
                }
                &__span{
                    font-style: italic;
                }  
            }
        }
        &__frame{
            width: 555px;
            @media screen and (max-width: 380px){
                width: $widthConteiner_380;
            }
            text-align: center;
            &__h3{
                font-family: $font-family_Lato;
                font-weight: bold;
                font-size: 24px;
                color: #222224;
                margin-bottom: 10px;
            }
            &__h4{
                font-family: $font-family_Lato;
                font-size: 18px;  
                color: #222224;  
                margin-bottom: 32px;
                @media screen and (max-width: 380px){
                    font-size: 14px; 
                }
            }
            &__input{
                display: flex;
                justify-content: space-between;
                background-color: #E1E1E1;
                border-radius: 20px;
                margin: 0 97px 0 104px;
                height: 49px;
                @media screen and (max-width: 380px){
                    margin: 0; 
                }
                &__mail{
                    border-radius: 20px 0 0 20px;
                    border: 0 solid;
                    background-color: #E1E1E1;
                    padding-left: 22px;
                    &::placeholder{
                        font-family: $font-family_Lato;
                        font-size: 14px;
                        color: #222224;
                        opacity: 0.67;
                    }
                }
                &__button{
                    background: #F16D7F;
                    padding: 7px 7px 7px 8px;
                    border-radius: 0 20px 20px 0;
                    font-family: $font-family_Lato;
                    font-size: 14px;
                    color: #FFFFFF;
                    border: 0 solid;
                }
            }
               
        }
    }
}
.footer{
    background-color: #222224;
    padding: 24px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 380px){
            flex-direction: column-reverse;
        }
        &__copyR{
            font-family: $font-family_Lato;
            font-size: 16px;
            color: #FBFBFB;
            @media screen and (max-width: 380px){
                margin-top: 40px;
            }
        }
        &__icons{
            display: flex;
            justify-content: space-between;
            &__item{
                @include align_center;
                width: 32px;
                height: 32px;
                background-color: #FFFFFF;
                &__svg{
                    fill: black;
                }
                &:not(:last-of-type){
                    margin-right: 7px;
                }
                &:hover{
                    background-color: #F16D7F;
                }
                &:hover .footer__wrapper__icons__item__svg{
                    fill:  #FFFFFF;;
                }
               
            }
        }
    }
}